.header__button {
  font-family: 'Formular', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  width: 164px;
  height: 54px;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-size: 200%;

}

.header__button:hover{
  background-position: left;
  color: #ecebe8;
  fill:#ecebe8;  transition: 0.8s;
}

.header__button:active{
  transform: scale(1.1,1.1);
}

