.play__subtitle{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 60px;
    width: 418px;
    height: 72px;
    margin-bottom: 212px;
}