.play__text{
        width: 591px;
        height: 224px;
        font-family: 'Neue Machina';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: black;
}